**/Builds
**/JuceLibraryCode
**/.DS_Store
**/JUCE
**/builds
**/cmake-build-debug
**/.vscode
**/.cache
**/.idea
**/.cache/clangd/index
**/build
**/cmake-build-debug-event-trace
**/Art
**/Extras
**/readme.txt
**/character.txt
